<div id="footer">
  <div id="navbar-fixed-bottom">
    <div class="footer-social">
      <footer>
        <div class="info">
          <div class="container">
            <ul class="social">
              <li>
                <a href="#" title="facebook"><img src="../../img/social/facebook.png" alt="facebook"></a>
              </li>
              <li>
                <a href="#" title="twitter"><img src="../../img/social/twitter.png" alt="twitter"></a>
              </li>
              <li>
                <a href="#" title="google"><img src="../../img/social/google.png" alt="google"></a>
              </li>
              <li>
                <li><a href="#" title="rss"><img src="../../img/social/rss.png" alt="rss"></a>
              </li>
            </ul>
  <!--             <a href="/">
                <img class="site-logo" data-hover"gotogym"="" id="logo-nav" src="../../img/logo.png"></a>
              <div class="footer-copyrigth">
               <p>© 2017 Toni</p> -->
              </div>
          </div>
        </div>
      </footer> 
    </div>
  </div>
</div>
