<div id="footer">
<div class="container">
  <div class="row">
  <div class="col-sm-7 footer-copyrigth">
        <div class="animate-box fadeInUp animated">
      <p><span>Created with <i class="icon-heart3"></i> by Toni</span></p>
      <p>© 2017 Toni</p>
  </div>
      <div class="col-sm-5 footer-social">
        <div class="pull-right hidden-xs hidden-sm">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
          <a href="#"><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
