<div ng-include src="'templates/includes/modals/modals.html'"></div>
<!-- header -->
<header class="main-header" id="header">
  <nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="menu-container mini-nav-button">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
          <i class="icon-bar"></i>
        </button>
      </div>
      <a  href="/">
    <img class="site-logo data-hover"GoToGym" id="logo-nav" src="../../img/logo.png"></a>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav" id="uppercase">
            <li class="scroll">
              <a href="/"><span data-hover="Home">Home</span></a>
            </li>
             <li class="scroll">
              <a href="#services"><span data-hover="Services">Servicios</span></a>
            </li>
            <li class="scroll">
              <a href="#gallery"><span data-hover="Gallery">Galeria</span></a>
            </li>
            <li>
              <a href="#"><span data-toggle="modal" data-target="#myModal" data-hover="Login">Login</span></a>
            <li>
              <a href="#"><span data-toggle="modal" data-target="#myModal2" data-hover="Login">Registro</span></a>
            </li>
            <li class="scroll">
              <a href="#about" class="scroll"><span>About</span></a>
            </li>
            <li class="scroll">
              <a href="#contact"><span data-hover="Contact">Contacto</span></a>
            </li>

          </ul>
        </div>
      </div>
  </nav>
</header>

