<header class="main-header" id="header">
  <nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="menu-container page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="menu-container">
          <ul class="nav navbar-nav">
            <li class="page-scroll home">
              <a href="../../index.html"><span data-hover="Home">Home</span></a>
            </li>
            <li class="page-scroll">
              <a href="#services"><span data-hover="Register">Register</span></a>
            </li>
            <li class="page-scroll">
              <a href="#studios"><span data-hover="Login">Login</span></a>
            <li class="page-scroll">
              <a href="#contact"><span data-hover="Contact">Contact</span></a>
              </li>
            <li class="page-scroll">
              <a href="../about.html"><span data-hover="About">About</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
