/* Font
---------------------------------- */
* {
  font-family: 'Oleo Script', cursive; }

#relative {
  position: relative; }

/* input map search
}
----------------------------------------------------------------------------- */
.input-style-custom {
  background: rgba(236, 189, 189, 0.29);
  font-size: 21px;
  position: relative;
  padding: 4px;
  border: none;
  border-bottom: solid 3px #f5f5f5;
  width: 100%; }

/* logo
----------------------------------------------------------------------------- */
#logo-nav {
  position: absolute;
  width: 145px;
  height: 50px;
  margin-top: 6px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.7); }

/* Custom Styles Design */
.clearfix {
  clear: both; }

/* @begin Main Cover Adjustments */
#home {
  margin-top: 59px; }

#main-cover {
  text-align: center; }
  #main-cover .container-main-cover {
    background: rgba(255, 255, 255, 0.5);
    height: 75vw; }
  #main-cover .title, #main-cover .sub-title, #main-cover .top-title {
    padding: 30px;
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px white;
    font-family: "Dosis"; }
  #main-cover .top-title {
    font-size: 80px; }
  #main-cover .sub-title {
    font-size: 30px; }
  #main-cover h1 {
    margin-top: 70px; }

.main-cover-bg {
  height: 100%;
  width: 100%;
  background: url(../img/img2.jpg) no-repeat center top fixed;
  background-size: cover;
  opacity: 0.8; }

/* @end Main Cover Adjustments */
/* Location
----------------------------------------------------------------------------- */
#map > * {
  margin-top: 60px;
  position: relative;
  position: fixed;
  height: 89vh;
  width: 55%;
  margin-left: 20px;
  border: 1px solid #ddd;
  border-radius: 5px; }

#locations {
  margin-top: 60px; }

#results-container {
  display: flex;
  font-size: 1em; }
  #results-container .img-bg {
    width: 100%;
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center; }
  #results-container .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    margin-top: -15px; }
    #results-container .thumbnail .caption {
      font-family: Dosis;
      font-size: 1.2em;
      padding: 9px;
      color: #333; }
    #results-container .thumbnail h3 {
      font-size: 30px; }

#results {
  width: 40%;
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px; }

#results header, header {
  margin: 3px 10px;
  border-bottom: 1px solid #ccc;
  width: 95%; }

#map {
  width: 60%;
  margin-top: 18px; }

.img-bg {
  width: 100%;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center; }

#results-container #results button.btn.btn-default {
  font-size: 10px;
  padding: 4px;
  vertical-align: baseline;
  font-family: 'Asap';
  margin-bottom: 10px; }

/* Register
----------------------------------------------------------------------------- */
.pb-modalreglog.pb-modalreglog-container {
  margin-top: 100px; }

.pb-modalreglog.pb-modalreglog-legend {
  text-align: center; }

.pb-modalreglog.pb-modalreglog-input-group {
  margin: auto; }

.pb-modalreglog.pb-modalreglog-submit {
  margin-left: 5px; }

.pb-modalreglog.pb-modalreglog-form-reg {
  text-align: center; }

.pb-modalreglog.pb-modalreglog-footer p {
  text-align: center;
  margin-top: 20px; }

#pb-modalreglog-progressbar {
  border-radius: 2px; }

/* About
---------------------------------- */
#about {
  margin-top: 60px;
  padding-bottom: 115px; }

#img_about {
  display: block;
  position: absolute;
  height: 555px;
  top: -114px;
  left: 100px; }

/* Services
----------------------------------------------------------------------------- */
#services {
  margin-bottom: 50px;
  padding-top: 18px; }
  #services h2 {
    font-size: 50px; }
  #services h5 {
    font-family: Arial;
    font-size: 20px; }
  #services h2, #services h3, #services h5 {
    text-align: center; }

.club_logos {
  margin-bottom: 10px;
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid #fff; }

#services .img-responsive {
  border: 1px solid #ddd;
  border-radius: 35px;
  padding: 8px;
  height: 100px;
  width: 100px; }

/* Gallery
----------------------------------------------------------------------------- */
#gallery-margin {
  padding-top: 0px;
  margin-top: 0px; }

#portfolio {
  padding: 80px 0; }

#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block; }

#portfolio .portfolio-filter > li {
  float: left;
  display: block; }

#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin: 0px 2px;
  color: #141414;
  position: relative; }

#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #4E4E4E;
  color: #FFFFFF; }

#portfolio .portfolio-items {
  margin-top: 15px; }

#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
  text-align: center;
  background: #343434;
  color: #282828;
  padding: 0 0 4px 0;
  font-weight: normal; }

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.62);
  color: #ffc4db;
  height: 100%;
  text-align: center;
  transition: all .2s ease-in-out;
  font-weight: bold; }

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff; }

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 0 1px #fff;
  display: block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  text-align: center;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%; }

#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  border: 20px solid rgba(194, 24, 91, 0.56);
  transform: scale(0.9); }

@media only screen and (min-width: 768px) {
  #portfolio .portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 12px; }
  #portfolio .portfolio-filter > li a {
    display: block;
    padding: 7px 15px;
    margin: 5px 2px; }
  #portfolio .portfolio-item {
    width: 25%;
    padding: 8px; }
  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 9px auto; }
  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    padding: 7px 0 0; } }

/* Zoom in-out
----------------------------------------------------------------------------- */
.image-zoom-container {
  list-style: none;
  font-size: 0px; }

.zoom-container {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #fff;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }

.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .5s ease;
  /* Safari and Chrome */
  -moz-transition: all .5s ease;
  /* Firefox */
  -ms-transition: all .5s ease;
  /* IE 9 */
  -o-transition: all .5s ease;
  /* Opera */
  transition: all .5s ease; }

.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  margin: 23% 0 0;
  padding: 10px 0;
  border-top: 5px solid rgba(255, 255, 255, 0.15);
  border-bottom: 5px solid rgba(255, 255, 255, 0.15); }

.zoom-container:hover img {
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -moz-transform: scale(1.25);
  /* Firefox */
  -ms-transform: scale(1.25);
  /* IE 9 */
  -o-transform: scale(1.25);
  /* Opera */
  transform: scale(1.25); }

.zoom-container:hover .zoom-caption {
  background: none; }

@media (max-width: 767px) {
  .zoom-container {
    width: 50%; } }

@media (max-width: 480px) {
  .zoom-container {
    width: 100%; } }

/* Contact
---------------------------------- */
#contact {
  padding-top: 75px;
  background: none; }

/* NavBar custom
---------------------------------- */
#logo-nav {
  position: absolute;
  width: 150px;
  height: 58px;
  margin-top: 0;
  margin-left: -25;
  background: transparent;
  bottom: 0px;
  top: 4px; }

.navbar-default {
  border-bottom: 2px solid #e7e7e7;
  background: rgba(255, 255, 255, 0.7);
  padding-bottom: 15px;
  display: flex; }

nav li a {
  font-family: 'IM Fell Great Primer SC';
  justify-content: center;
  align-items: center;
  padding: 0 10px; }

#uppercase {
  text-transform: uppercase; }

#header nav #uppercase li:hover {
  background: black; }

#header nav #uppercase li a:hover {
  color: white; }

#header nav #uppercase, #header nav #uppercase li, #header nav #uppercase li a {
  display: flex; }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: -140px; }

/* Footer section
---------------------------------- */
footer div.info {
  position: relative;
  text-align: center; }

footer ul.social a {
  display: inline-block;
  font-size: 24px;
  color: green; }

@media (min-width: 768px) {
  footer ul > li {
    display: inline-block; }
  footer ul.social > li {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0; }
  footer ul.info-links {
    text-transform: uppercase; } }

#footer {
  margin-top: 15px; }
