<div class="container" id="about_">
  <div class="row">
    <div class="col-md-12" id="about">
      <h2><span>¿Cómo funciona?</span></h2>
      <div class="col-md-6">
        <h4>Regístrate y crea tu cuenta de usuario. Desde allí podrás comprar las sesiones de entrenamiento. Puedes usarlo en cualquier gimnasio de nuestra plataforma, sin tener que desplazarte al gimnasio.</h4>
        <h4>Elige el gimnasio al que quieras ir a entrenar, puedes acceder a cualquier gimnasio disponible, disfruta de la experiencia pagando sólo por el tiempo que estás en las instalaciones del centro escogido.</h4>
        <h4>Identifícate como usuario de GoToGym en la recepción del gimnasio, presenta tu DNI, ellos validarán tu acceso una vez verificada la compra.</h4>
        <h4>¡Nunca ponerse en forma fué tan fácil!</h4>
      </div>
      <div class="col-md-6">
        <img id="img_about" src="../img/fitness-compress.png">
      </div>
    </div>
  </div>
</div>
