<!-- About -->
<section class="container waypoint">
  <div class="inner">
    <!-- Header -->
    <h1 class="header light gray3 fancy"><span class="colored">Know </span>about us</h1>
    <!-- Description -->
    <p class="h-desc gray4">lorem Ipsum is<span class="colored bold"> lorem Ipsum</span> of passages of Lorem Ipsum available, but the majority have suffered alteration.
      <br />
      <br />
    </p>
    <hr>
    <!-- Boxes -->
    <div class="boxes">
      <div class="col-xs-3 col-sm-6 col-md-3 about-box animated" data-animation="fadeIn" data-animation-delay="100">
        <p class="lead">Pressure check up</p>
        <hr>
        <br>
        <a class="about-icon">
          <i class="fa fa-stethoscope"></i>
        </a>
        <br>
        <br>
        <p class="light about-text">lorem Ipsum is lorem Ipsum of passages of Lorem Ipsum available, but the majority.</p>
      </div>
      <div class="col-xs-3 col-sm-6 col-md-3 about-box animated" data-animation="fadeIn" data-animation-delay="300">
        <p class="lead">Max. gym equipments</p>
        <hr>
        <br>
        <a class="about-icon">
          <i class="fa fa-wheelchair"></i>
        </a>
        <br>
        <br>
        <p class="light about-text">lorem Ipsum is lorem Ipsum of passages of Lorem Ipsum available, but the majority.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-sm-12 about-box animated" data-animation="fadeIn" data-animation-delay="700">
        <p class="lead lead-text">Best in the city</p>
        <hr>
        <p class="left pro-bars" style="color: rgb(83, 205, 181);">Treadmill </p>
        <div class="pro-bar-container color-green-sea">
          <div class="pro-bar bar-100 color-turquoise" data-pro-bar-percent="100">
            <div class="pro-bar-candy candy-ltr"></div>
          </div>
        </div>
        <p class="left pro-bars" style="color: #3498DB;">Spinning </p>
        <div class="pro-bar-container color-belize-hole">
          <div class="pro-bar bar-80 color-peter-river" data-pro-bar-percent="80" data-pro-bar-delay="200">
            <div class="pro-bar-candy candy-ltr"></div>
          </div>
        </div>
        <p class="left pro-bars" style="color: #B483C8;">Cardio </p>
        <div class="pro-bar-container color-wisteria">
          <div class="pro-bar bar-70 color-amethyst" data-pro-bar-percent="70" data-pro-bar-delay="300">
            <div class="pro-bar-candy candy-ltr"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Boxes -->
  </div>
  <!-- End About Inner -->
</section>
<!-- End About Section -->
