<div id="contenido_main_section">
  <div class="acciones_reservas">
    <h1 class="titulo_pagina">Actividades Dirigidas</h1>
    <h2 class="subtitulo_pagina">Descubre nuestra amplia gama de actividades para hacer tanto dentro del centro como fuera del mismo.</h2>
    <nav class="leyenda">
      <a href="/Actividades/Index/agua">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#8CADB5"></span>
        </p>
        <p class="nombre_tipo_actividad">AGUA</p>
      </a>
      <a href="/Actividades/Index/ciclo_indoor">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#FFC529"></span>
        </p>
        <p class="nombre_tipo_actividad">CICLO INDOOR</p>
      </a>
      <a href="/Actividades/Index/cuerpo_y_mente">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#B58C8C"></span>
        </p>
        <p class="nombre_tipo_actividad">CUERPO Y MENTE</p>
      </a>
      <a href="/Actividades/Index/mixta">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#005284"></span>
        </p>
        <p class="nombre_tipo_actividad">MIXTA</p>
      </a>
      <a href="/Actividades/Index/move">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#D6D652"></span>
        </p>
        <p class="nombre_tipo_actividad">MOVE</p>
      </a>
      <a href="/Actividades/Index/power">
        <p class="base_actividad_color">
          <span class="actividad_color" style="background-color:#844A73"></span>
        </p>
        <p class="nombre_tipo_actividad">POWER</p>
      </a>
    </nav>
  </div>
</div>
<nav id="lista_actividades">
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#FFC529"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_bike" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/06785687B38DC3D40315D4D0F6C8A4C2.jpg')"></a>
    <a href="/Actividades/Detalle/adaptiv_bike" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> bike</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/zumba" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/12231490C721E8935005BF4F091F076D.jpg')"></a>
    <a href="/Actividades/Detalle/zumba" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">zumba</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#844A73"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adpv_strength" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/2548344C99CDBC7E8D89728B28900396.png')"></a>
    <a href="/Actividades/Detalle/adpv_strength" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> strength</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#B58C8C"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_yoga" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/615A774447CC3FBD4BD6561729A3F778.jpg')"></a>
    <a href="/Actividades/Detalle/adaptiv_yoga" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> yoga</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_box" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/909794F3906937A4569BE8F7AC295FB3.../img/actividades')"></a>
    <a href="/Actividades/Detalle/adaptiv_box" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> box</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
   <a href="/Actividades/Detalle/adaptiv_aqua" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> aqua</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#B58C8C"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/fit_ball" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/DFD15094CE11695CCA3680D6A5DF22F9.jpg')"></a>
    <a href="/Actividades/Detalle/fit_ball" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">fitball</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#844A73"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_core" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/52C7A1542299E713EB6C003A5172AE92.jpg')"></a>
    <a href="/Actividades/Detalle/adaptiv_core" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> core</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/latino" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/25B8DEB39B60F5F37414835661E33F57.jpg')"></a>
    <a href="/Actividades/Detalle/latino" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">latino</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_step" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/C1F9E74F9A8D1667A445E04048EE0699.jpg')"></a>
    <a href="/Actividades/Detalle/adaptiv_step" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> step</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/corebar" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/0320A299DA2C87678E166AD9E500605C.jpg')"></a>
    <a href="/Actividades/Detalle/corebar" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">corebar</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#B58C8C"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adpv_pilates" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/A906AC3FF2765E5FDFE8A2946498F4C2.jpg')"></a>
    <a href="/Actividades/Detalle/adpv_pilates" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> pilates</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#844A73"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adpv_gf_cross" class="cont_info_actividad" style="background-image:url('http://go-fit.es:83/Upload/Images/6E0B906DD874291B3C1274AB1EE06CD9.png')"></a>
    <a href="/Actividades/Detalle/adpv_gf_cross" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> go fit cross</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#B58C8C"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/stretching" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/4148D75981D30C8A8AB0698AECD0FB2B.jpg')"></a>
    <a href="/Actividades/Detalle/stretching" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">stretching</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adpv_aerobic" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/70EBB2923AB2429D2D889EBE675DAE61.jpg')"></a>
    <a href="/Actividades/Detalle/adpv_aerobic" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> aerobic</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#B58C8C"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/tai_chi" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/CB4D5C79B0DC4DEFAB674D22289A0BE0.png')"></a>
    <a href="/Actividades/Detalle/tai_chi" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">tai chi</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#FFC529"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/bike_virtual" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/5A22301A2F36E854F5D8107178C7D686.jpg')"></a>
    <a href="/Actividades/Detalle/bike_virtual" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">bike virtual</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/baile_moderno" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/5B3837D53BC199E2A226941F69E42AFD.jpg')"></a>
    <a href="/Actividades/Detalle/baile_moderno" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">baile moderno</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/aerodance" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/375034AB3C228B22A488754B45904F8F.jpg')"></a>
    <a href="/Actividades/Detalle/aerodance" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">aerodance</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/baile_de_salon" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/46F94E76136AD78EBCA549F8C5B1676B.jpg')"></a>
    <a href="/Actividades/Detalle/baile_de_salon" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">baile de salón</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/flamenco" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/F1F660AE25490BB0DFB470BF74FF5BBD.png')"></a>
    <a href="/Actividades/Detalle/flamenco" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">flamenco</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/funky_hip-hop" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/8361DAB9FCE29E1FD3990D2C1F501021.png')"></a>
    <a href="/Actividades/Detalle/funky_hip-hop" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">funky hip-hop</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/boxeo" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/5B98C48A83004EDD116578B64E56C6EB.jpg')"></a>
    <a href="/Actividades/Detalle/boxeo" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">boxeo</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/danza_oriental" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/4ABC4D6C9017FC455A2B1283C3560563.png')"></a>
    <a href="/Actividades/Detalle/danza_oriental" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">danza oriental</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/capoeira" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/09F429C6D0E85D245A94584D85F05453.jpg')"></a>
    <a href="/Actividades/Detalle/capoeira" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">capoeira</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/gofit_kick" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/A44AF23F303194EDFFB2978714B2FF1B.jpg')"></a>
    <a href="/Actividades/Detalle/gofit_kick" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">go fit kick</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/taekwondo" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/378843187F99A12712AAE42772D7629D.jpg')"></a>
    <a href="/Actividades/Detalle/taekwondo" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">taekwondo</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#844A73"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/circuito_funcional" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/18A6FDB40571579E898F8FDAD725F423.jpg')"></a>
    <a href="/Actividades/Detalle/circuito_funcional" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">circuito funcional</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#844A73"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/trx" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/F6A85F6D408276D7D751EC22CF815BC7.jpg')"></a>
    <a href="/Actividades/Detalle/trx" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">entrenamiento en suspensión</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#005284"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/sevillanas" class="cont_info_actividad" style="background-image:url('http://217.116.19.212:83/Upload/Images/B8B8E06F5994AB3CB1DE8A0751375DBC.png')"></a>
    <a href="/Actividades/Detalle/sevillanas" class="cont_actividad_no_adaptiv">
      <h5 class="titulo_actividad_no_adaptiv">sevillanas</h5>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#FFC529"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/adaptiv_walking" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/F607F43ED176B946F9FAC3BE67043211.jpg')"></a>
    <a href="/Actividades/Detalle/adaptiv_walking" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> walking</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
  <div class="cont_actividad">
    <div class="cont_circulo">
      <div class="circulo_actividad" style="background-color:#D6D652"></div>
      <div class="circulo_sombra"></div>
    </div>
    <a href="/Actividades/Detalle/kangoo_power" class="cont_info_actividad" style="background-image:url('http://www.go-fit.es:83/Upload/Images/9E92485A08784725612BC55424F10582.png')"></a>
    <a href="/Actividades/Detalle/kangoo_power" class="cont_actividad_adaptiv">
      <h5 class="titulo_actividad_adaptiv"><img src="../img/actividades/adaptiv.png" class=" img_adaptiv"><span> jump</span></h5>
      <ul class="cont_iconos">
        <li>
          <img src="../img/actividades/ico_nivel_actividad_1.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_2.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_3.png">
        </li>
        <li>
          <img src="../img/actividades/ico_nivel_actividad_4.png">
        </li>
      </ul>
    </a>
  </div>
</nav>
<section id="carrusel_niveles" class="cont_carrusel" style="height: 230px; width: 693px;">
  <div id="control_carrusel">
    <a href="#" id="btn_carrusel_atras"></a>
    <a href="#" id="btn_carrusel_adelante"></a>
  </div>
  <div id="mascara_carrusel" style="width: 650px; height: 230px; left: 43px;">
    <ul id="carrusel" style="width: 1980px; left: -650px;">
      <li class="nivel" data-postexto="center_center">
        <div class="contenido" style="height: 230px; width: 650px;">
          <div class="icono">
            <img src="http://217.116.19.212:83/Upload/Images/6837E5E708DE7AB19A3EB22DEFEBE340.png">
          </div>
          <div class="textos">
            <div class="titulo">
              <h3>Extreme</h3>
            </div>
            <div class="descripcion">
              <p>El nivel ‘extreme’&nbsp;invita a sus&nbsp;participantes a rebasar&nbsp;sus limites en el&nbsp;entrenamiento.En esta&nbsp;clase se intercambia
                <br> muy poca información&nbsp;y mucha energía. Esto&nbsp;es entrenamiento puro&nbsp;y duro para gente en&nbsp;forma.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="nivel" data-postexto="center_center">
        <div class="contenido" style="height: 230px; width: 650px;">
          <div class="icono">
            <img src="http://217.116.19.212:83/Upload/Images/CE42B5F2C05314140FB1211A6E938A21.png">
          </div>
          <div class="textos">
            <div class="titulo">
              <h3>Basic</h3>
            </div>
            <div class="descripcion">
              <p>Las clases de nivel ‘basic’ sirven de introducción al sistema de niveles de base. Estas clases están diseñadas para personas con un nivel de deportividad bajo, y se centran en compartir abundante información con el participante. La meta de esta sesión es aportarle una experiencia positiva al participante para que vuelva a repetir la clase. También son apropiadas para periodos de restitución posteriores a una herida o lesión.</p>
            </div>
          </div>
        </div>
      </li>
      <li class="nivel" data-postexto="center_center">
        <div class="contenido" style="height: 230px; width: 650px;">
          <div class="icono">
            <img src="http://217.116.19.212:83/Upload/Images/122A1EA6204735AC75943DE1B00E9043.png">
          </div>
          <div class="textos">
            <div class="titulo">
              <h3>Active</h3>
            </div>
            <div class="descripcion">
              <p>El nivel ‘active’ se&nbsp;concentra en aumentar&nbsp;la intensidad del
                <br> entrenamiento un&nbsp;grado.La mayor parte de la&nbsp;clase se sigue
                <br> centrando en el&nbsp;intercambio de&nbsp;información y el&nbsp;método de instrucción&nbsp;se basa en motivar al&nbsp;participante todo lo&nbsp;posible durante la&nbsp;sesión.
                <br> &nbsp;
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
</div>
