<div class="container">
  <div class="row">
    <div class="col-md-12" id="contact">
      <h1>Contáctanos</h1>
      <p class="lead">¿Tienes alguna pregunta o recibir información?</p>
      <p>Rellena este formulario y te responderemos en la mayor brevedad posible.</p>
      <br>
      <div class="panel panel-default well">
        <div class="panel-body">
          <form ng-submit="sendMessage()" class="form-horizontal " method="POST">
            <div class="form-group">
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input ng-model="name" type="text" class="form-control" placeholder="Introduce tú nombre">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input ng-model="email" action="" type="text" class="form-control" placeholder="@ Tú e-mail">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-comment fa-2"></i>
                  </div>
                  <textarea ng-model="message" class="form-control" name="Comments" id="Comments" rows="5" style="width:99.9%" placeholder="Escribe tu mensaje aquí..."></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button ng-click "sendMail()" type="submit" class="btn btn-default btn-info">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
