<link rel="stylesheet" type="text/css" href="/css/contact.css">
<div class="cover_home"></div>
<div class="container contact">
  <div class="row">
    <div class="col-md-12">
      <h1>Contact Us</h1>
      <p class="lead">Have a question or want further information?</p>
      <p>Fill in the short form and we will get back to you as soon as possible.</p>
      <br>
      <div class="panel panel-default well">
        <div class="panel-body">
          <form action="" class="form-horizontal track-event-form bv-form" data-goaltype="”General”" data-formname="”ContactUs”" method="post" id="contact-us-all" novalidate="novalidate">
            <input name="elqSiteId" type="hidden" value="928">
            <input name="sFDCLastCampaignID" type="hidden" value="701400000012Lql">
            <input name="elqFormName" type="hidden" value="EMEAAllContactUsSubmissions">
            <input name="nexturl" type="hidden" value="">
            <input name="Partner" type="hidden" value="">
            <input name="language" type="hidden" value="en">
            <div class="form-group">
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter first name" name="C_FirstName" data-bv-field="C_FirstName">
                </div>
                <small data-bv-validator="notEmpty" data-bv-validator-for="C_FirstName" class="help-block" style="display: none;">Required</small></div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                  </div>
                  <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter last name" name="C_LastName" data-bv-field="C_LastName">
                </div>
                <small data-bv-validator="notEmpty" data-bv-validator-for="C_LastName" class="help-block" style="display: none;">Required</small></div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="C_EmailAddress" data-bv-field="C_EmailAddress">
                </div>
                <small data-bv-validator="notEmpty" data-bv-validator-for="C_EmailAddress" class="help-block" style="display: none;">Required</small></div>
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-briefcase"></i>
                  </div>
                  <input type="text" class="form-control" id="exampleInputCompany" placeholder="Enter company" name="C_Company">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-globe"></i>
                  </div>
                  <select data-placeholder="Choose country" class="C_Country_Modal form-control" id="C_Country" name="C_Country" data-bv-field="C_Country">
                    <option value="">--Select--</option>
                    <option value='2'>Álava</option>
                    <option value='3'>Albacete</option>
                    <option value='4'>Alicante/Alacant</option>
                    <option value='5'>Almería</option>
                    <option value='6'>Asturias</option>
                    <option value='7'>Ávila</option>
                    <option value='8'>Badajoz</option>
                    <option value='9'>Barcelona</option>
                    <option value='10'>Burgos</option>
                    <option value='11'>Cáceres</option>
                    <option value='12'>Cádiz</option>
                    <option value='13'>Cantabria</option>
                    <option value='14'>Castellón/Castelló</option>
                    <option value='15'>Ceuta</option>
                    <option value='16'>Ciudad Real</option>
                    <option value='17'>Córdoba</option>
                    <option value='18'>Cuenca</option>
                    <option value='19'>Girona</option>
                    <option value='20'>Las Palmas</option>
                    <option value='21'>Granada</option>
                    <option value='22'>Guadalajara</option>
                    <option value='23'>Guipúzcoa</option>
                    <option value='24'>Huelva</option>
                    <option value='25'>Huesca</option>
                    <option value='26'>Illes Balears</option>
                    <option value='27'>Jaén</option>
                    <option value='28'>A Coruña</option>
                    <option value='29'>La Rioja</option>
                    <option value='30'>León</option>
                    <option value='31'>Lleida</option>
                    <option value='32'>Lugo</option>
                    <option value='33'>Madrid</option>
                    <option value='34'>Málaga</option>
                    <option value='35'>Melilla</option>
                    <option value='36'>Murcia</option>
                    <option value='37'>Navarra</option>
                    <option value='38'>Ourense</option>
                    <option value='39'>Palencia</option>
                    <option value='40'>Pontevedra</option>
                    <option value='41'>Salamanca</option>
                    <option value='42'>Segovia</option>
                    <option value='43'>Sevilla</option>
                    <option value='44'>Soria</option>
                    <option value='45'>Tarragona</option>
                    <option value='46'>Santa Cruz de Tenerife</option>
                    <option value='47'>Teruel</option>
                    <option value='48'>Toledo</option>
                    <option value='49'>Valencia/Valéncia</option>
                    <option value='50'>Valladolid</option>
                    <option value='51'>Vizcaya</option>
                    <option value='52'>Zamora</option>
                    <option value='53'>Zaragoza</option>
                  </select>
                </div>
                <small data-bv-validator="callback" data-bv-validator-for="C_Country" class="help-block" style="display: none;">Choose one</small></div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" class="form-control" id="C_BusPhone" placeholder="Phone" name="C_BusPhone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-comment fa-2"></i>
                  </div>
                  <textarea class="form-control" name="Comments" id="Comments" rows="5" style="width:99.9%" placeholder="Enter your message here"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button id="contacts-submit" type="submit" class="btn btn-default btn-info">CONTACT US</button>
              </div>
            </div>
            <input type="hidden" value="">
          </form>
        </div>
        <!-- end panel-body -->
      </div>
      <!-- end panel -->
      <!-- END DOWNLOAD PANEL -->
    </div>
    <!-- end col-md-8 -->
    <div class="col-md-2"> </div>
  </div>
</div>
