<section id="portfolio">
  <div class="container">
    <div class="section-header">
      <h2 class="wow fadeInDown" id="gallery-margin">Galeria</h2>
      <h4 class="wow fadeInLeft">Algunas actividades que podemos encontratar a través GoToGym, disponible en algunos clubs.</h4>
    </div>
    <div class="portfolio-items ">
      <div class="portfolio-item ">
        <div class="portfolio-item-inner ">
          <img class="img-responsive" src="./img/01.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/01.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/02.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/02.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/03.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/03.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/04.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/04.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/05.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/05.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/06.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/06.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/07.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/07.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <div class="portfolio-item">
        <div class="portfolio-item-inner">
          <img class="img-responsive" src="./img/08.jpg">
          <div class="portfolio-info">
            <a class="preview" href="./img/08.jpg" data-lightbox="image-1"><i class="fa fa-eye"></i></a>
          </div>
        </div>
      </div>
      <!--/.portfolio-item-->
    </div>
  </div>
  <!--/.container-->
</section>
<!--/#portfolio-->
