
<div class="cover_home"></div>
<!-- <div class="cover_center"></div> -->

<!-- title -->
<div class="text-center">
  <div class="wrapper" >
      <img id="logo-home" src="../../img/logo.png">
    <h1 class="top-title"> GymApp  </h1>
    <h3 class="title">Paga por lo que entrenas. Localiza tu centro más próximo y elige tu momento</h3>
    <h4 class="sub-title">Encuentra los Gyms disponibles es tu zona.</h4>
    <!-- input search -->
    <div class="container">
      <div row>
        <div class="col-md-offset-3 col-md-6">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search location">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i></button>
              </div>
              <a href="https://foursquare.com/explore?mode=url&ne=41.436678%2C2.232714&q=Gym%20%2F%20Fitness%20Center&sw=41.352459%2C2.08869" target="_blank">busqueda</a>
              <a href="/locations" >Locations</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Star gallery -->
<div class="container galley">
  <section id="gallery" class="gallery section">
    <div class="section-header">
      <h2 class=" fadeInDown animated">Gallery</h2>
      <p class=" fadeInDown animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa
        <br> semper aliquam quis mattis quam.</p>
    </div>

    <!-- portfolio items start -->
    <div class="isotope-container row grid-space-20">
      <div class="col-sm-6 col-md-3 isotope-item web-design">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/01.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-1">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-1-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/01.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item app-development">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/02.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-2">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-2-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/02.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item web-design">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/03.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-3">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-3-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/03.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item mobile-apps">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/04.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-4">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-4-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/04.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item app-development">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/05.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-5">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-5-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/05.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item web-design">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/06.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-6">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-6-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/06.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item mobile-apps">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/07.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-7">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-7-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/07.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div>
      <div class="col-sm-6 col-md-3 isotope-item web-design">
        <div class="image-box">
          <div class="overlay-container">
            <img src="../img/08.jpg" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-8">
              <i class="fa fa-search-plus"></i>
            </a>
          </div>
          <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Project Title</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="project-8-label">Project Title</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <img src="../img/08.jpg" alt="">
                    <br/>
                    <h3>Project Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt.</p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal end -->
      </div></div></section></div></div></div></div>
<!-- End gallery -->

<div class="cover_home"></div>

<!-- best services -->
<div class="container">
  <h2>We OFFER best of best service</h2>
  <div class="row">
    <div class="col-md-6">
      <p>Lorem ipsum dolor sit amet, adipisicing sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde error commodi architecto, laudantium culpa optio corporis quod earumdignissimos eius mollitia et quas officia doloremque.</p>
      <ul class="list-unstyled">
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum enimdolor sit amet</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Explicabo deleniti neque aliquid</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Consectetur adipisicing elit</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Lorem ipsum dolor sit amet</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Quo issimos molest quibusdam temporibus</li>
      </ul>
      <p>Dolores quam magnam aadipisicing sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde molestias velit eveniet, facere autem saepe autrunt.</p>
    </div>
    </div>
  </div>
 </div>

  <div ng-include src="'templates/includes/footer.html'"></div>

</div>
