<!-- <div class="cover_bg1"></div> -->
<!-- <div class="cover_bg2"></div> -->
<!-- <div class="cover_bg3"></div> -->
<!-- <div class="cover_bg4"></div> -->
<!-- title -->
<div id="main-cover" class="main-cover-bg">
	<div class="container-main-cover" id="home">
    <div class="container">
        <div row>
            <div class="col-md-offset-2 col-md-8">
                <h1 class="top-title">GoToGym</h1>
                <h3 class="title">Paga por lo que entrenas. Localiza tu centro más próximo y elige tu momento</h3>
                <form role="form" ng-submit="getSearchGyms()">
	                <div class="input-group">
				      <input ng-model="queryLocation" type="text" class="form-control" placeholder="Busca por provincia donde quieres entrenar" autofocus="autofocus">
				      <span class="input-group-btn">
				        <button ng-click="getSearchGyms()" class="btn btn-default" type="button">Buscar!</button>
				      </span>
				    </div>
                </form>
            </div>
        </div>
    	<br class="clearfix">
    </div>
   </div>

</div>

<div id="services">
    <div ng-include src="'templates/services.html'"></div>
</div>

<div id="gallery">
    <div ng-include src="'templates/gallery.html'"></div>
</div>

<div id="about">
    <div ng-include src="'templates/about.html'"></div>
</div>

<div id="contact">
    <div ng-include src="'templates/contact.html'"></div>
</div>

<div>
    <div ng-include src="'templates/includes/footer.html'"></div>
</div>
