<div class="container" id="services">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2>Servicios</h2>
      <h3>Te ofrecemos los mejores servicios de nuestros clubs.</h3>
      <ul class="list-unstyled">
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Sin contrato ni letra pequeña</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Sin cuota de alta ni permanencia</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Entrena sin importar dónde te encuentres</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Conoce ciudades y gente nueva mientras te cuidas</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Acceso a los mismos servicios que los socios</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Mejora tu salud y sientete mejor</h5>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="title-center"> <span>Algunos de nuestros clubs:</span> </h2>
  <div class="row">
  </div>
  <br>
  <div class="container image-zoom-container">
    <div class="row">
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/vivagym.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Viva Gym" src="./img/logos-clubs/vivagym.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/fast.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="FAST" src="./img/logos-clubs/fast.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/bascifig_vallecas.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Fitness19" src="./img/logos-clubs/bascifig_vallecas.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/saludando.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Saludando" src="./img/logos-clubs/saludando.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/curves.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Curves" src="./img/logos-clubs/curves.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="../img/logos-clubs/metodo_fenomeno.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Metodo Fenomeno" src="./img/logos-clubs/metodo_fenomeno.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/urban_fitness.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Urban Fitness" src="./img/logos-clubs/urban_fitness.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/o2_centros_welleness.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="O2 Centro Wellness" src="./img/logos-clubs/o2_centros_welleness.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/hifitness.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Hi Fitness Sports Club" src="./img/logos-clubs/hifitness.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/benefits_gym.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Benefits" src="./img/logos-clubs/benefits_gym.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/mooveit.png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Moove It" src="./img/logos-clubs/mooveit.png"></a>
      </div>
      <div class="col-md-2 col-xs-4 club_logos zoom-container">
        <a href="./img/logos-clubs/club_atlas-png" data-lightbox="logo-1">
        <img class="img-responsive" alt="Club Atlas Fitness" src="./img/logos-clubs/club_atlas-png"></a>
      </div>
    </div>
  </div>
  <br>
</div>
