<div class="container" id="services">
  <h2>Te ofrecemos los mejores servicios de nuestros clubs.</h2>
  <h4>Sin contratos ni letra h4equeña, sin cuota de alta sin ataduras</h4>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Entrena sin importar donde te encuentres</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Conoce ciudades y gente nueva mientras te cuidas</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Acceso a los mismos servicios que los socios</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Mejora tú salud y sientete mejor</h5>
        <h5><i class="fa fa-arrow-circle-right pr-10 colored"></i> Como un socio más</h5>
      </ul>
    </div>
  </div>
  <!-- client list -->
</div>
<div class="container">
  <h2 class="title-center"> <span>Algunos de nuestros clubs:</span> </h2>
  <div class="row">
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/viva-gym">
          <img alt="Viva Gym" src="../img/logos-clubs/vivagym.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/fast">
          <img alt="FAST" src="../img/logos-clubs/fast.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/fitness19">
          <img alt="Fitness19" src="../img/logos-clubs/bascifig_vallecas.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/saludando">
          <img alt="Saludando" src="../img/logos-clubs/saludando.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/curves-563abd59-f21c-405e-8413-b9eaee1f3cec">
          <img alt="Curves" src="../img/logos-clubs/curves.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/metodo-fenomeno">
          <img alt="Metodo Fenomeno" src="../img/logos-clubs/metodo_fenomeno.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/urban-fitness">
          <img alt="Urban Fitness" src="../img/logos-clubs/urban_fitness.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/o2-centro-wellness">
          <img alt="O2 Centro Wellness" src="../img/logos-clubs/o2_centros_welleness.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/hi-fitness-sports-club">
          <img alt="Hi Fitness Sports Club" src="../img/logos-clubs/hifitness.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/benefits">
          <img alt="Benefits" src="../img/logos-clubs/benefits_gym.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/moove-it">
          <img alt="Moove It" src="../img/logos-clubs/mooveit.png">
        </a>
      </div>
      <div class="col-sm-2 col-xs-4 club_logos">
        <a href="https://www.gympass.com/es/gimnasios/en-ciudad/madrid/cadena/club-atlas-fitness">
          <img alt="Club Atlas Fitness" src="../img/logos-clubs/club_atlas-png">
        </a>
      </div>
    </div>
  </div>
  <br>
</div>

<!--  -->

