<div class="container">
  <h2>Te ofrecemos los mejores servicios de nuestros clubs.</h2>
  <p>Sin contratos ni letra pequeña, sin cuota de alta sin ataduras</p>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Entrena sin importar donde te encuentres</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Conoce ciudades y gente nueva mientras te cuidas</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Acceso a los mismos servicios que los socios</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Con todos los servicios incluidos</li>
        <li><i class="fa fa-arrow-circle-right pr-10 colored"></i> Como un socio más</li>
      </ul>
    </div>
  </div>
  <!-- client list -->
</div>
<div class="container">
    <div class="row">
   <h3 class="title-center"> <span>Algunos de nuestros clubs:</span> </h3>
    <div class="col-md-12">
      <ul class="list-banners services">
        <li>
          <a href="#"><img alt="fisico" src="../../img/logos-clubs/fisico.png" class="img-rounded"></a>
        </li>
        <li>
          <a href="#"><img alt="gofit" src="../../img/logos-clubs/gofit.png" class="img-rounded"></a>
        </li>
        <li>
          <a href="#"><img alt="holmesplace" src="../../img/logos-clubs/holmesplace.png" class="img-rounded"></a>
        </li>
      </ul>
      <ul class="list-banners services">
        <li>
          <a href="#"><img alt="metropolitan" src="../../img/logos-clubs/metropolitan.png" class="img-rounded"></a>
        </li>
        <li>
          <a href="#"><img alt="sportcenter" src="../../img/logos-clubs/sportcenter.png" class="img-rounded"></a>
        </li>
        <li>
          <a href="#"><img alt="mygym" src="../../img/logos-clubs/mygym.png" class="img-rounded"></a>
        </li>
      </ul>
    </div>
  </div>
</div>


