/* About
---------------------------------- */

// i, .fa {
//   font-size: 20px;
// }

#about {
    margin-top: 60px;
    padding-bottom: 115px;
}

#img_about{
    height: 350px;
    display: block;
    position: absolute;
    height: 600px;
    top: -140px;
    left: 100px;
}
