/* Gallery
----------------------------------------------------------------------------- */
#gallery-margin{
  padding-top: 0px;
  margin-top:0px;
}
#portfolio {
  padding: 80px 0;
}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  margin:0px 2px;
  color: #141414;
  position: relative;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #4E4E4E;
  color: #FFFFFF;
} 
#portfolio .portfolio-items {
  margin-top: 15px;
}
#portfolio .portfolio-item {
  width: 24.9%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-item-inner {
  position: relative;
  text-align: center;
  background: #343434;
  color: #282828;
  padding: 0 0 4px 0;
  font-weight: normal;
}

#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 18px 0 0;
  background: rgba(0, 0, 0, 0.62);
  color: #ffc4db;
  height:100%;
  text-align: center;
  transition: all .2s ease-in-out;
  font-weight: bold;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview { 
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  box-shadow: 0 0 0 1px #fff;
  display:block;
  -webkit-box-shadow: 0 0 0 1px #fff;
  text-align: center;
margin: 15px auto;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 50%;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  border: 20px solid rgba(194, 24, 91, 0.56);
  transform: scale(.9);
}

@media only screen and (min-width: 768px) {
#portfolio .portfolio-filter {
list-style: none;
padding: 0;
margin: 0 0 12px;
}
#portfolio .portfolio-filter > li a {
display: block;
padding: 7px 15px;
margin: 5px 2px;
}
  #portfolio .portfolio-item {
  width: 25%;
  padding: 8px;
  }
  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
width: 28px;
height: 24px;
line-height: 24px; 
margin: 9px auto;
}
#portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
padding: 7px 0 0;
}
}

/* Zoom in-out
----------------------------------------------------------------------------- */

.image-zoom-container {
  list-style: none;
  font-size: 0px;
}
.zoom-container {
  position: relative;
  // overflow: hidden;
  display: inline-block;
  // width: 33.33%;
  font-size: 16px;
  font-size: 1rem;
  border: 1px solid #fff;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.zoom-container img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
  -webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  margin: 23% 0 0;
  padding: 10px 0;
  border-top: 5px solid rgba(255, 255, 255, .15);
  border-bottom: 5px solid rgba(255, 255, 255, .15);
}
.zoom-container:hover img {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
  background: none;
}
 
@media (max-width: 767px) {
  .zoom-container {
    width: 50%;
  }
}
 
@media (max-width: 480px) {
  .zoom-container {
    width: 100%;
  }
}
