	/* Font
---------------------------------- */

* {
	font-family: 'Oleo Script', cursive;
}

#relative {
	position: relative;
}

/* Header responsive
---------------------------------- */

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

/* css cover background image
---------------------------------- */

.cover_bg1 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../img/img1.jpg) no-repeat center center fixed;
	opacity: 0.3;
}

.cover_bg2 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../img/img2.jpg) no-repeat center center fixed;
	opacity: 0.5;
}

.cover_bg3 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../img/par3.jpg) no-repeat center center fixed;
	opacity: 0.3;
}

.cover_bg4 {
	position: absolute;
	height: 100%;
	width: 100%;
	background: url(../img/par4.jpg) no-repeat center center fixed;
	opacity: 0.3;
}


/* Parallax custom
---------------------------------- */

[class*="cover_"] {
	height: 100vh;
	z-index: -1;
	text-indent: -9999px;
	/* fix background */
	background-attachment: fixed;
	/* center it */
	background-position: center center;
	/* Scale it nicely to the element */
	background-size: cover;
	/* just make it look a bit better ;) */
	&:nth-child(2n) {
		box-shadow: inset 0 0 1em #111;
	}
}

	/* input map search
}
----------------------------------------------------------------------------- */
	.input-style-custom {
		background: rgba(236, 189, 189, 0.29);
		font-size: 21px;
		position: relative;
		padding: 4px;
		border: none;
		border-bottom: solid 3px #f5f5f5;
		width: 100%;
	}

	/* logo
----------------------------------------------------------------------------- */
	// #logo-nav {
 //    position: absolute;
 //    width: 145px;
 //    height: 50px	;
 //    margin-top: 6px;
 //    margin-left: 20px;
 //    background: rgba(255, 255, 255, 0.7);
	// }

/* Custom Styles Design */

	.clearfix {
		clear: both;
	}

	/* @begin Navbar Adjustments w/ New Logo*/
		// #header nav, #header nav #uppercase{
		// 	height: 75px;
		// 	background: rgba(255, 255, 255, 0.7);
		// }

		// #header nav #uppercase, #header nav #uppercase li, #header nav #uppercase li a {
		// 	display: flex;
		// }

		// #header nav #uppercase {
		// 	margin-right: 20px;
		// }

		// #header nav #uppercase li a {
		// 	justify-content: center;
		// 	align-items: center;
		// 	padding: 0 20px;
		// }

		// #header nav #uppercase li a:hover {
		// 	background: black;
		// 	span {
		// 		color: white;
		// 	}
		// }
	/* @end Navbar Adjustments w/ New Logo*/

	/* @begin Main Cover Adjustments */

		#home{
		margin-top: 59px;
		}
		#main-cover {
    text-align: center;

			.container-main-cover {
				 background: rgba(255, 255, 255, 0.5);
				 height: 75vw;
		     // height: 700px;
         // margin-top: 60px;
			}
			.title, .sub-title, .top-title {
				padding: 30px;
		    font-size: 40px;
		    color: black;
		    font-weight: bolder;
		    text-shadow: 1px 1px white;
		    font-family: "Dosis";
			}
			.top-title {
		    font-size: 80px;
			}
			.sub-title {
				font-size: 30px;
			}
			h1 {
				margin-top: 70px;
			}
		}

		.main-cover-bg {
			height: 100%;
			width: 100%;
			background: url(../img/img2.jpg) no-repeat center top fixed;
			background-size: cover;
			opacity: 0.8;
		}

	/* @end Main Cover Adjustments */


