	/* Font
---------------------------------- */

* {
	font-family: 'Oleo Script', cursive;
}

#relative {
	position: relative;
}

	/* input map search
}
----------------------------------------------------------------------------- */
	.input-style-custom {
		background: rgba(236, 189, 189, 0.29);
		font-size: 21px;
		position: relative;
		padding: 4px;
		border: none;
		border-bottom: solid 3px #f5f5f5;
		width: 100%;
	}

	/* logo
----------------------------------------------------------------------------- */
	#logo-nav {
    position: absolute;
    width: 145px;
    height: 50px	;
    margin-top: 6px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.7);
	}

/* Custom Styles Design */

	.clearfix {
		clear: both;
	}

	/* @begin Main Cover Adjustments */

		#home{
		margin-top: 59px;
		}
		#main-cover {
    text-align: center;

			.container-main-cover {
				 background: rgba(255, 255, 255, 0.5);
				 height: 75vw;
			}
			.title, .sub-title, .top-title {
				padding: 30px;
		    font-size: 40px;
		    color: black;
		    font-weight: bolder;
		    text-shadow: 1px 1px white;
		    font-family: "Dosis";
			}
			.top-title {
		    font-size: 80px;
			}
			.sub-title {
				font-size: 30px;
			}
			h1 {
				margin-top: 70px;
			}
		}

		.main-cover-bg {
			height: 100%;
			width: 100%;
			background: url(../img/img2.jpg) no-repeat center top fixed;
			background-size: cover;
			opacity: 0.8;
		}

	/* @end Main Cover Adjustments */


