/* Location
----------------------------------------------------------------------------- */
#map > * {
    margin-top: 60px;
    margin: 0px;
    position: relative;
    position: fixed;
    height:90vh;
    width: 50%;
}

#locations{
    margin-top: 60px;
}

#results-container{
  display:flex;
}

#results {
  width: 60%;
  margin-top: -20px;
}

#results header, header {
  margin: 3px 10px;
  border-bottom: 1px solid #ccc;
  width: 95%;

}

#map {
    width: 60%;
    margin-top: 18px;
}

.img-bg {
  width: 100%;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
}
