/* Services
----------------------------------------------------------------------------- */
#services {
	margin-bottom: 50px;
  padding-top: 18px;
  h2 { font-size: 50px; }
	h5 {
		font-family: Arial;
		font-size: 20px;
	}
	h2, h3, h5 {
		text-align: center;
	}
}

.club_logos {
    margin-bottom: 10px;
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid #fff;
}
#services .img-responsive{
    border: 1px solid #ddd;
    border-radius: 35px;
    padding: 8px;
    height: 100px;
    width: 100px;
}
